::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(241, 241, 241, 0);
}

::-webkit-scrollbar-thumb {
  background: rgba(160, 241, 255, 0.2549019608);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 251, 255, 0.2117647059);
}

.App {
  --hovercolor:#70ffc8cf;
  --welcome-color:rgb(255, 228, 196);
  width: 100vw;
  min-height: 100vh;
}
.App .show {
  display: inherit;
}
.App .hide {
  display: none;
}
.App header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10vh;
  background-color: rgba(47, 192, 197, 0.237);
  z-index: 100;
}
.App header .logo {
  margin-left: 10px;
  display: flex;
  cursor: pointer;
  height: 10vh;
  width: 10vh;
  border-radius: 10px;
  justify-content: center;
}
.App header .logo img {
  width: auto;
  height: 8vh;
  align-self: center;
}
.App header .logo:hover {
  background-color: var(--hovercolor);
}
.App header .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.App header .buttons .button {
  padding: 10px;
  text-align: center;
  font-weight: 700;
  margin-right: 10px;
  border: 1.5px solid rgb(255, 228, 196);
  border-radius: 10px;
  color: rgb(255, 228, 196);
  cursor: pointer;
}
.App header .buttons .button:hover {
  color: var(--hovercolor);
  border-color: var(--hovercolor);
}
.App header .buttons .userbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App header .buttons .userbar .userlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.App .welcome {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.App .welcome .welcome-text {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  font-family: "Times New Roman", Times, serif;
  color: var(--welcome-color);
}
.App .welcome .welcome-text .blank {
  min-height: 30vh;
}
.App .welcome .welcome-text h2 {
  font-size: clamp(2rem, 5rem, 50px);
  margin: 0;
}
.App .welcome .welcome-text h4 {
  font-size: clamp(1.75rem, 3rem, 35px);
  margin: 10px;
  cursor: pointer;
}
.App .welcome .welcome-text h4:hover {
  color: rgba(112, 255, 200, 0.8117647059);
}
.App .welcome .welcome-text p {
  font-size: clamp(1.5rem, 1.75rem, 20px);
  margin: 0px;
}
.App .hotelWindow {
  width: 100vw;
  min-height: 100vh;
}
.App .hotelWindow .booking-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 500;
}
.App .hotelWindow .booking-cover .booking-div {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 60vw;
  height: auto;
  background-image: linear-gradient(180deg, rgb(5, 167, 167), rgb(66, 255, 192));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .hotelWindow .booking-cover .booking-div button {
  padding: 10px;
  font-weight: 600;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
}
.App .hotelWindow .booking-cover .booking-div label {
  padding: 10px;
}
.App .hotelWindow .displayHotels {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(images/background2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: var(--welcome-color);
}
.App .hotelWindow .displayHotels .hotels {
  top: 10vh;
  left: 0;
  position: fixed;
  height: 90vh;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.App .hotelWindow .displayHotels .hotels .hotel-view {
  margin: 20px 0;
  min-height: 25vh;
  width: 90%;
  background-color: rgba(160, 241, 255, 0.2549019608);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App .hotelWindow .displayHotels .hotels .hotel-view img {
  max-height: 90%;
  width: 30%;
  border-radius: 10px;
  margin: 0 15px;
}
.App .hotelWindow .displayHotels .hotels .hotel-view .hotel-detail {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.App .hotelWindow .displayHotels .hotels .hotel-view .hotel-detail h3 {
  margin: 2px 10px;
}
.App .hotelWindow .displayHotels .hotels .hotel-view .hotel-detail h5 {
  margin: 2px 10px;
}
.App .hotelWindow .displayHotels .hotels .hotel-view:hover {
  background-color: rgba(36, 128, 145, 0.3137254902);
  border: 1px solid var(--hovercolor);
}
.App .hotelWindow .displayHotels .hotel-overview {
  position: fixed;
  top: 10vh;
  right: 0;
  height: 90vh;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .hotelWindow .displayHotels .hotel-overview .display {
  height: 90%;
  width: 90%;
  background-color: rgba(160, 241, 255, 0.2549019608);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.App .hotelWindow .displayHotels .hotel-overview .display .img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App .hotelWindow .displayHotels .hotel-overview .display .img-box img {
  width: 70%;
  height: auto;
  margin: 10px 0;
  border-radius: 10px;
}
.App .hotelWindow .displayHotels .hotel-overview .display div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  text-align: center;
}
.App .hotelWindow .displayHotels .hotel-overview .display h2 {
  margin: 0;
  margin-bottom: 5px;
}
.App .hotelWindow .displayHotels .hotel-overview .display p, .App .hotelWindow .displayHotels .hotel-overview .display h3 {
  margin: 0;
}
.App .hotelWindow .displayHotels .hotel-overview .display a {
  text-decoration: none;
  color: var(--welcome-color);
  cursor: pointer;
}
.App .hotelWindow .displayHotels .hotel-overview .display button {
  color: var(--welcome-color);
  background: none;
  padding: 5px;
  cursor: pointer;
}
.App .hotelWindow .displayHotels .hotel-overview .display button:hover {
  color: var(--hovercolor);
  border-color: var(--hovercolor);
}
.App .displayUser {
  width: 100vw;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(images/background3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--welcome-color);
}
.App .displayUser .content {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: scroll;
  margin-top: 10vh;
}
.App .displayUser .content h3, .App .displayUser .content li, .App .displayUser .content h2, .App .displayUser .content p {
  margin-left: 10vw;
}
.App .loginCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 500;
}
.App .loginCover .loginDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 40vw;
  height: auto;
  background-image: linear-gradient(180deg, rgb(5, 167, 167), rgb(66, 255, 192));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App .loginCover .loginDiv button {
  padding: 10px;
  font-weight: 600;
  border: none;
  align-self: flex-end;
  cursor: pointer;
  margin: 10px;
  border-radius: 10px;
}
.App .loginCover .loginDiv h2 {
  align-self: flex-start;
  margin-left: 4vw;
}
.App .loginCover .loginDiv form {
  margin-left: 4vw;
  margin-bottom: 5vh;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.App .loginCover .loginDiv form label {
  margin: 3vh 0;
}
.App .loginCover .loginDiv form label input {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
}
.App .loginCover .loginDiv form button {
  margin: 3vh 0;
  align-self: flex-start;
  border: 1px solid black;
  border-radius: 10px;
}/*# sourceMappingURL=app.css.map */